@media screen and (max-width: 875px) {
  // nav bar
  .nav-link {
    display: none;
  }
  #menu-bar-icon {
    display: flex;
  }
  .landing-index {
    text-align: center;
  }
  .landing-video {
    margin-top: 3rem;
  }
  .coffee-card {
    text-align: left;
  }
  .story {
    text-align: left;
    width: 100%;
  }
}
