@media screen and (max-width: 875px) {
	.nav-link {
		display: none;
	}
	#menu-bar-icon {
		display: flex;
	}
	.landing-index {
		text-align: center;
	}
	.landing-video {
		margin-top: 3rem;
	}
	.coffee-card {
		text-align: left;
	}
	.story {
		text-align: left;
		width: 100%;
	}
	.footer-section-1 * {
		text-align: center;
	}
	.footer > div {
		margin: 1rem;
	}
	.feature-container {
		padding: 3rem 0 5rem 0;
	}
	.action {
		background: none;
	}
	.sign-up-image {
		display: none;
	}
	.center-875px {
		text-align: center;
		padding-left: 0;
		padding-right: 0;
	}
	.pad-0-875px {
		padding: 0;
	}
	.coffeeProducts {
		padding: 0.3rem;
	}
	.center-btn-875px {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (max-width: 500px) {
	.contact {
		width: 80%;
		display: block;
		& > div:nth-child(1) {
			width: 100%;
			padding-bottom: 0;
		}
		& > div:nth-child(2) {
			padding: 3rem 0;
		}
	}
	#contacts-social {
		display: none;
	}
	.pad-x-1 {
		padding-left: 1rem;
		padding-right: 1rem;
	}
	.d-block-500 {
		display: block;
	}
	.link-title {
		padding: 1rem;
	}
}
