@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import "./imports//templates.scss";
@import "./imports//spacing.scss";

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: $dark-1;
}
a {
  text-decoration: none;
  color: dodgerblue;
  font-weight: 500;
}
body {
  height: 200vh;
}
// @@@@@@@@@@@@@@@@@@@@@@@@ COMPONENTS @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
button {
  all: unset;
  min-width: 100px;
  padding: 0.5rem 1rem;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s ease;
  &:hover {
    box-shadow: $thin;
  }
  &:active {
    filter: brightness(0.7);
  }
}

button.prime {
  background-color: $prime;
  color: white;
}
button.second {
  background-color: $second;
  color: white;
}

button.outline {
  border: 1px solid $dark-1;
}

button.contained {
  background-color: $dark-2;
  color: $grey-1;
}

// =========== Navbar =========
#side-nav {
  position: fixed;
  top: 50px;
  right: -260px;
  height: 100%;
  width: 250px;
  background-color: white;
  z-index: 7;
  box-shadow: -4px 4px 8px rgba($color: #000000, $alpha: 0.1);
  transition: 0.3s ease;
  display: flex;
  flex-direction: column;
}
#dimmer {
  z-index: 6;
  top: 50px;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.1);
  // backdrop-filter: blur(2px);
  transition: 0.3s ease;
  opacity: 0;
  display: none;
}
#navbar {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  border: 1px solid white;
}
#menu-bar-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

// ============ landing page ==================
.landing-index {
  background: linear-gradient(120deg, white, rgb(255, 240, 213));
  width: 100%;
  padding-top: 5rem;
  transition: 0.3s ease;
}

video {
  width: 100%;
  border-radius: 8px;
  box-shadow: $thin;
}

// slideShow
.slideshow {
  width: calc(6 * (280px + 4rem));
  overflow: hidden;
  animation: slide 40s infinite;
}

.dflt-width {
  max-width: calc(1080px);
}

.coffee-card {
  display: inline-block;
  width: 280px;
  height: 300px;
  box-shadow: 0 0 8px rgba($color: #000000, $alpha: 0.3);
  margin: 2rem;
  img {
    width: 100%;
    height: 65%;
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-1000px);
  }
  100% {
    transform: translateX(0);
  }
}

@import "./imports//media_query.scss";
